{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{{ this.message }}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/each}}
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{{ success_msg }}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if warning_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{ warning_msg }}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{{ error_msg }}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<script>
  const deleteBtns = document.querySelectorAll('.close')
  console.log(deleteBtns)
  deleteBtns.forEach(btn => {
    btn.addEventListener('click', (event) => {
    const box = event.target.closest('.alert')
    box.remove()
  })
  })
</script>