<a href="/records/new">Create</a>

{{!-- Sort --}}
{{!-- Tototal amount --}}
{{!-- Render list --}}
<ul>
  {{#each records}}
    <li>
      {{ this.name }}
      <a href="/records/{{ this._id }}/edit">Edit</a>
    </li>
  {{/each}}
</ul>
