<form action="/records" method="POST">

  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="text" name="date">
  </div>
  <div>
    <label for="category">Category</label>
    <input type="text" name="category">
  </div>
  <div>
    <label for="amount">Amount</label>
    <input type="text" name="amount">
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>